<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xeliuqa.com">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Xeliuqa"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_secutiry_config"
        android:theme="@style/AppThemeNoActionBar">

        <activity
            android:name=".Update_Ticker"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppThemeNoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Trade"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppThemeNoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".DetailView"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppThemeNoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".update"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppThemeNoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".History"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppThemeNoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Status"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppThemeNoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Exchange"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppThemeNoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Assets"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppThemeNoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Settings"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppThemeNoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Account_Edit"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppThemeNoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Reward"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppThemeNoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".bch_send"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppThemeNoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".PIN_Verify"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppThemeNoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".PIN_Create2"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppThemeNoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".PIN_Create1"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppThemeNoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Transaction_BCH"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppThemeNoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Account"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppThemeNoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".erc_send"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppThemeNoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".eth_send"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppThemeNoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".blockchain"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppThemeNoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".btc_send"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppThemeNoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".qrcode"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppThemeNoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Transaction_ERC"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppThemeNoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Transaction_BTC"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppThemeNoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Transaction_ETH"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppThemeNoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Forgot"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppThemeNoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Verify_Seed"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppThemeNoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Word_Seed"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppThemeNoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Message"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppThemeNoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppThemeNoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Signin"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppThemeNoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Signup"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppThemeNoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Welcome"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppThemeNoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Sponsor"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppThemeNoActionBar"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>